/ExtratoBancario/ExtratoBancario/ExtratoBancarioBackEnd/dist/
# Ignorar arquivos de build e IDE
target/
**/nbproject/private/
*.log
*.jar
*.war
*.zip
*.rar
*.ear
*.dat
*.data
ExtratoBancario/ExtratoBancario/ExtratoBancarioBackEnd/nbproject/private/private.properties
ExtratoBancario/ExtratoBancario/ExtratoBancarioBackEnd/nbproject/private/private.xml
